// shades//
$white: #fff;

// blues //
$input-blue: #005eb5;
$nav-blue: #002445;
$body-background-color: #000c2b;
$background-color: #011a35;
$nav-background-color: #0c3468;
$placeholder-blue: #12518b;
$nav-sidebar-color: #002445;

// reds //
$red: red;
$blue: blue;
$pink: pink;
$black: #000;
//#002d57; - the too blue for school kid
