@import "./components/styles/variables.scss";

* body {
  background-color: $body-background-color;
}

.sidebar__container {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  left: 200px;
}

.BoxA {
  display: flex;
  float: right;
  align-items: center;
  border: 200px black transparent;
  width: 337px;
  height: 703px;
  background-color: $placeholder-blue;
  margin: 46px;
  padding: 6px;
  margin-top: 178px;
  border-radius: 36px;
  margin-right: 73px;
  margin-bottom: -6px;
}
