@import "./components/styles/variables.scss";

* body {
  background-color: $body-background-color;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 260px;
  .cards_container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 2rem;
    z-index: 0;
    grid-template-columns: 1fr;
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .sidebar__container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 260px;
  }
}

.BoxA {
  display: flex;
  float: right;
  align-items: center;
  border: 200px black transparent;
  width: 337px;
  height: 703px;
  background-color: $placeholder-blue;
  margin: 46px;
  padding: 6px;
  margin-top: 178px;
  border-radius: 36px;
  margin-right: 73px;
  margin-bottom: -6px;
}
