@import "./styles/variables.scss";

.header {
  padding: 120px 88px 0;
  color: $white;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 522px;
}

.smaller-text {
  font-size: 18px;
}

.header__username {
  color: $white;
  padding-left: 20px;
  font-size: 30px;
}
