.logged__title {
  color: white;
  padding-top: 200px;
  font-size: 32pt;
  font-weight: bold;
  text-align: center;
}

.logged__body {
  color: white;
  font-size: 14pt;
}

.logged-btn-match {
  position: relative;
  border-color: transparent;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  left: 800px;
  top: 50px;
}

.logged__body {
  padding-top: 10px;
  text-align: center;
}
  
.logged-btn-chat {
  position: relative;
    border-color: transparent;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    left: 900px;
    top: 50px;
  }

