@import "./styles/variables.scss";

.login-form {
  display: flex;
  width: 475px;
  height: 165px;
  padding-top: 50px;
  padding-left: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  color: $white;
}

label,
input {
  display: block;
}

label {
  margin-top: 50px;
  margin-bottom: 10px;
}

.submit {
  margin-left: 417px;
}

p {
  white-space: pre;
}

.login-btn {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: $white;
  border-color: transparent;
  margin-left: 410px;
  margin-top: 50px;
}

.login-title {
  color: #FFF;
  font-size: 42pt;
  padding-top: 20px;
  padding-left: 100px;
}

.test {
  padding-top: 100px;
}

.email {
  font-size: 14pt;
}

.right-image-login {
  position: relative;
  float: right;
  right: 100px;
  bottom: 330px;
  width: 500px;
  height: 600px;
  background-image: url('./images/1.jpeg');
  border-radius: 50px;
}