@import "./styles/variables.scss";

.login {
  padding-top: 60px;
}

.login-form {
  display: flex;
  width: 475px;
  height: 165px;
  padding-top: 50px;
  padding-left: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  color: $white;
  font-size: 12pt;
}

label,
input {
  display: block;
}

label {
  margin-top: 50px;
  margin-bottom: 10px;
}

.submit {
  margin-left: 417px;
}

p {
  white-space: pre;
}

.login-btn {
  cursor: pointer;
  margin: 0;
  position: absolute;
  font-size: 12pt;
  text-decoration: none;
  color: #fff;
  border: transparent;
  background: #4b4e53;
  border-radius: 5px;
  height: 50px;
  min-width: 64px;
  padding: 5px 15px;
  top: 620px;
  left: 490px;
}

.login-btn:hover {
  background-color: #7D7B70;
}

.login-title {
  color: #FFF;
  font-size: 42pt;
  padding-top: 20px;
  padding-left: 100px;
}

.test {
  padding-top: 100px;
}

.right-image-login {
  position: relative;
  float: right;
  right: 100px;
  bottom: 330px;
  width: 500px;
  height: 640px;
  background-image: url('./images/1.jpeg');
  border-radius: 50px;
}