@import "./styles/variables.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
  z-index: 3;
}

.modal-content {
  width: 100px;
  height: 100px;
  background-color: #0c3468;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.modal-header {
  padding: 10px;
  color: $white;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
}

.btn-modal {
  background-color: $white;
  color: $black;
  border-radius: 10px;
  width: 80px;
}

  .btn-modal:hover {
    background-color: $red;
    color: $white;
  }

.modal-title {
  margin: 0;
  padding-left: 80px;
  padding-top: 80px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: $white;
}
