@import "./styles/variables.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
  z-index: 3;
}

.report-select {
  border-radius: 10px;
  font-size: 1em;
  padding: 5px 0 5px 0;
  margin: 10px;
}

.modal-content {
  width: 80vw;
  height: 80vh;
  background-color: #0c3468;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header {
  padding: 10px;
  color: $white;
}
.modal-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;

  button {
    background-color: $white;
    color: $black;
  }

  button:hover {
    background-color: $red;
    color: $white;
  }
}

.modal-title {
  margin: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: $white;
}

.report__text {
  margin: 20px;
  height: 40vh;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
