@import "./styles/variables.scss";
* {
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: $nav-background-color;
  color: $white;
  z-index: 2;

  &__home {
    margin-right: 20px;
    margin-left: 20px;
    color: $white;
  }
}