// Profile CSS

  .bio {
    width: 100%;
  }

  .bio__container {
    width: 465px;
    height: 50px;
    border-radius: 10px;
    background: #005eb5;
    border-color: transparent;
    margin-left: 20px;
  }
  
  .bio__recent-box {
    font-size: 22px;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  
  .bio__inner-text {
    padding-left: 10px;
    font-size: 13px;
    color: #A1A1A1;
  }

  .gamers-container {
    width: 465px;
    height: 50px;
    border-radius: 10px;
    background: #005eb5;
    border-color: transparent;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .gamers-name {
    font-size: 20px;
    display: flex;
    gap: 100px;
    padding-left: 15px;
    padding-top: 12px;
    color: #FFF;
  }

  .skill-container {
    color: #FFF;
    float: right;
    background: #005eb5;
    width: 350px;
    height: 300px;
    margin-right: 200px;
    margin-top: -50px;
  }