@import "./styles/variables.scss";

.user {
  &__edit {
    display: flex;
    width: 465px;
    height: 40px;
    border-radius: 10px;
    background: $input-blue;
    border-color: transparent;
    color: $white;
  }

  &Button {
    margin-left: 410px;
  }
}

// reminder to do image SCSS for just user profile
