.user {
  &___create {
    display: flex;
    width: 465px;
    height: 40px;
    border-radius: 10px;
    background: #005eb5;
    border-color: transparent;
    color: white;

    // &:hover {
    //   opacity: 0.9;
    // }
  }
}

::placeholder {
  color: transparent black;
}

// reminder to do image SCSS for just user profile
